/* Global styles */
html {
    position: relative;
    min-height: 100%;
    width: 100%;
    margin: 0;
    background-color: #000000;
}



body {
    /* background-color: #FFFFFF;  */
    min-height: 98vh;
    width: 100%;
    margin: 0;
    padding:0px;
    font-family: Arial;
    border-color: gold;
    border-style: none;
}

.bg {
    background-image: url("./Sunrise_on_the_rockies--Ed_Schreiner--12-24-2016.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}


hr {
    clear: both;
    background-color: #000000;
    height: 1px;
    border-width: 0;
}

/* for the images on the About page */
img {
    display: block;
    margin: 0 auto;
}

h2 {
    text-align: left;
    padding-left: 40px;
}

a:link, a:visited {
    color: black;
    text-decoration: underline;
}

a:hover {
    text-decoration: overline;
}

nav {
    border-style: dashed;
    border-width: 0px;
    border-color: blue;
    padding:15px;
}



/* Fixed header styles */
.header_group {
    width: 100%;
    position: fixed;
    height: 130px;
    border-color: #00AD36;
    border-style: none;
}

.ceiling {
    height: 20px;
    width: 100%;
    background: #17202a;
    position: relative;
    border-color: yellow;
    border-style: none;
}

p.ceiling {
    text-align: center;
    font-size: 18px;
    font-family: Arial;
    text-transform: uppercase;
    letter-spacing: 10px;
    line-height: 30px;
    font-weight: bold;
    margin-top: 0px;
    color: white;
}

.banner {
    background-image: url("./black_binary_background.gif");  
    height: 50px;
    width: 100%;
    position: relative;
    border-color: orange;
    border-style: none;
}

p.banner {
    text-indent: 20%;
    font-size: 25px;
    font-family: Arial;
    color: white;
    line-height: 55px;
    text-transform: uppercase;
    margin-top: 0px;
}

.lower_banner {
    height: 30px;
    width: 100%;
    background: #C41425; /*#00AD36 */
    position: relative;
    border-color: grey;
    border-style: none;
}

p.lower_banner {
    text-indent: 20%;
    font-size: 20px;
    font-family: Arial;
    color: white;
    line-height: 30px;
    margin-top: 0px;
}




/* Content area styles */
.content_area_container {
    width: 60%;
    margin-top: 100px;
    height: auto;
    margin: 0 auto;
    overflow:auto;
    border-width: 3px;
    border-color: green;
    border-style: none;
}

.containerTopSpacer {
    width: 100%;
    height: 110px;
    padding: 10px;
}
/* The Navigation bar has been commented out. */
.menu_bar {
    width: 15%;
    float: left;
    backdrop-filter: blur(100px);
    background-color: rgba(255,250,250,0.8);
    overflow:auto;
    border-radius: 10px;
    border-width: 3px;
    border-color: orange;
    border-style: none;
}

.content_area {
    width: 99%;
    margin: 0 auto;
    backdrop-filter: blur(100px);
    background-color: rgba(255,250,250,0.8);
    border-radius: 10px;
    overflow:auto;
    border-width: 3px;
    border-color: blue;
    border-style: none;
}

li{
    font-size: 20px;
    padding-right: 15px;
}

.content_area p {
    padding-right: 30px;
    padding-left: 40px;
}

.content_area img {
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom:50px;
}

.content_area a {
    text-decoration: underline;
}

.content_area a:hover {
    text-decoration: overline;
}

.containerBottomSpacer {
    width: 100%;
    height: 70px;
    padding: 0px;
    border-width: 3px;
    border-color: cornflowerblue;
    border-style: none;
}



/* Footer styles */
.footer_group {
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    height: 85px;
    border-style: none;
    border-color: fuchsia;
}

.footer_upper {
    height: 25px;
    width: 100%;
    background: #C41425; /* */
    position: relative;
    border-style: none;
    border-color: green;
}

.footer_lower {
    height: 35px;
    width: 100%;
    background: #000000;  /*  */
    position: relative;
    border-style: none;
    border-color: greenyellow;
}

.copyright {
    height: 25px;
    width: 100%;
    background: #000000; /*  */
    position: relative;
    border-style: none;
    border-color: red;
}

p.uFooter {
    text-align: center;
    padding-top: 0px;
    font-size: 15px;
    font-family: Arial;
    font-weight: bold;
    letter-spacing: 2px; /* Adjust to increase the spacing between letters */
    color: white;
    line-height: 29px;
    text-transform: uppercase;
    margin-top: 0px;
}

p.lFooter {
    text-align: center;
    padding-top: 5px;
    font-size: 15px;
    font-family: Arial;
    color: white;
    text-transform: uppercase;
    line-height: 100%;
    margin-top: 0px;
}

p.cr {
    text-align: center;
    padding-top: 5px;
    font-size: 15px;
    font-family: Arial;
    color: white;
    text-transform: uppercase;
    line-height: 10px;
    margin-top: 0px;
}

a.lFooter:link {
    color: white;
}

/* End of footer styles */
